echo 'Library/' >> .gitignore
echo 'Temp/' >> .gitignore
echo 'Obj/' >> .gitignore
echo 'Build/' >> .gitignore
echo 'Packages/manifest.json' >> .gitignore
echo 'Packages/packages-lock.json' >> .gitignore
echo 'Logs/' >> .gitignore
echo 'UserSettings/' >> .gitignore
echo '*.csproj' >> .gitignore
echo '*.sln' >> .gitignore
echo '*.user' >> .gitignore
echo '*.unityproj' >> .gitignore
echo '*.pidb' >> .gitignore
echo '*.booproj' >> .gitignore
echo '*.svd' >> .gitignore

